.feed {
  display: flex;
  justify-content: "center";
}
.blink-cursor {
  position: relative;
  display: inline-block;
}

.blink-cursor::after {
  content: "";
  display: inline-block;
  background-color: gray;
  width: 6px;
  height: 15px;
  background-color: #606060;
  -webkit-animation: blink 1s step-end infinite;
  animation: blink 1s step-end infinite;
}

.feed-item {
  color: gray;
  min-width: 219px;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
