.content {
  text-align: center;
  margin-top: 18vh;
  font-family: monospace;
}

.token-selector {
  padding: 0 50px;
}

.icon {
  width: 15px;
}

.giphy {
  width: 67px;
  height: 67px;
  margin: 20px;
}
